<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>CISCO-IPRAN</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
         <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

  </head>
  <body>
        <div class="jumbotron text-center">
        <h1>CISCO SCRIPT GENERATE</h1>
          <div class="text-left">
              <a href="{{ url_for( 'index') }}"  type="button" class="btn btn-primary btn-lg">Home</a>
          </div>
        </div>

            <div class="container">
                <form class="form-horizontal">
                    <div class="form-group">
                      <label for="control-label"><b>IP Plan excel file: </b></label>
                      <input type="file" class="form-control-file" id="exampleFormControlFile1">
                    </div>

                    <button type="button" class="btn btn-success">SUBMIT</button>
                  </form>
            </div>
  </body>
</html>
